[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
aiohttp = "*"
python-dateutil = "*"
sqlalchemy = "*"
pandas = "*"

[dev-packages]
sphinx = "*"
pytest = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
