aiohttp==3.6.2
alabaster==0.7.12
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
docutils==0.16
entrypoints==0.3
idna==2.8
imagesize==1.2.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
Jinja2==2.10.3
jedi==0.17.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.1.0
multidict==4.7.4
nbconvert==5.6.1
nbformat==5.0.3
nbsphinx==0.5.0
numpy==1.18.1
packaging==20.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.2
pluggy==0.13.1
ptyprocess==0.6.0
py==1.8.1
Pygments==2.5.2
pyparsing==2.4.6
pytest==5.3.2
python-dateutil==2.8.1
pyzmq==18.1.1
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.3.1
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.12
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.8
webencodings==0.5.1
yarl==1.4.2
